<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:mem:test;DB_CLOSE_DELAY=-1</property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Vibur DBCP specific properties: -->
        <property name="hibernate.vibur.poolInitialSize">30</property>
        <property name="hibernate.vibur.poolMaxSize">30</property>
        <property name="hibernate.vibur.connectionIdleLimitInSeconds">30</property>
        <property name="hibernate.vibur.testConnectionQuery">isValid</property>

        <property name="hibernate.vibur.logQueryExecutionLongerThanMs">500</property>
        <property name="hibernate.vibur.logStackTraceForLongQueryExecution">true</property>
        <property name="hibernate.vibur.statementCacheMaxSize">200</property>


        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create</property>


        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Table Class -->
        <mapping class="org.shh.db.table.Alm_History"/>

        <!-- View Class -->
        <mapping class="org.shh.db.table.Field_Info_View"/>
        <!-- add resources here -->
        <mapping class="pay.account.coupon.database.model.CouponModel"/>
        <mapping class="pay.account.coupon.database.model.UserModel"/>


    </session-factory>
</hibernate-configuration>
